<%= render 'shared/navbar_es' %>

<div class="container">
<br>
	<h1>Portafolio</h1> 

<p>
	<%= @about_me %>
</p>
<h6> A continuación una muestra de nuestros proyectos representativos</h6>
<head>
	<link rel="stylesheet" href="style.css">
</head>
<!-- <div id="pins"> -->
	<!--<div class="grid"> -->
		<div class="container">

	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

  <div class="box col3">
    Puente Guagrayacu, Napo<br>
    <%= image_tag "guagrayacu.jpg", width: 300  %>
  </div>
<div class="box col4">
    <br> Puente Oritoyacu, Napo</br>
    <%= image_tag "oritoyacu.jpg", width: 300  %>
  </div>
	  <div class="box col4">
	    <br> Diseño estructural Edificios Prados de San Mateo</br>
	    <%= image_tag "pradosdesanmateo.PNG", width: 300  %>
	  </div>
	  <div class="box col5">
    <br> Construcción Campamento Hidroeléctrica CocaSinclair</br>
    <%= image_tag "Campamento coca sinclair 20120425_095603.jpg", width: 300  %>
  </div>
  <div class="box col6">
    <br> Señalización vial y seguridad vial Ampliación Santo Domingo de los Tsáchilas - Unión del Toachi, Eje E20</br>
    <%= image_tag "toachi.jpg", width: 300  %>
  </div>
<div class="box col7">
    <br> Sistema de agua potable embajada de EeUu</br>
    <%= image_tag "water system.PNG", width: 300  %>
  </div>
<div class="box col8">
    <br> Sistemas Building Information Sistem para construcciones, modelos de Revit</br>
    <%= image_tag "revit haus pillagua render.jpg", width: 300  %>
  </div>

  <div class="box col1">
    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
  </div>

  <div class="box col2">
    <p>
      <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
    </p>
  </div>
  </div>
</div>
</div>
Contactos al +593 99 822 1378
<p>
</p>