<%= render 'shared/navbar_en' %>
<div class="container">
<h1>Contact Us</h1>
<p>Please fill your contact information, we will reply as soon as we can.</p>
<%= form_with(model: @contact, url: contacts_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  
  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Send Email' %>
  </div>
<% end %>
</div>

